{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row">


        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Customer</span>
                    <hr class="divider">
                    <a href="#!" class="btn waves-effect">Update</a>
                    <a href="#!" class="btn waves-effect">Delete</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Contact Information</span>
                    <hr class="divider">
                    <div class="row">
                        <div class="col s3 m3">Email:</div>
                        <div class="col s8 m8">baruwalbasanta@gmail.com</div>
                    </div>
                    <div class="row">
                        <div class="col s3 m3">Phone</div>
                        <div class="col s8 m8">(+977) 9846333597</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Total Orders</span>
                    <hr class="divider">
                    <h3>12</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <form action="#!">
                <div class="row" style="margin-bottom: 0">
                    <form class="col s12">
                        <div class="row" style="margin-bottom: 0">
                            <div class="input-field col s6 m3">
                                <input placeholder="First Name" id="first_name" type="text" class="validate">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name</label>
                            </div>

                            <div class="col s12 m3">
                                <button type="submit" class="btn waves-effect blue lighten-2 z-depth-0">
                                    <i class="material-icons left">search</i>
                                    Search
                                </button>
                            </div>

                        </div>
                    </form>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                <tbody>
                    <tr>
                        <td>Tuna Fish</td>
                        <td>Food</td>
                        <td>2020-12-05</td>
                        <td>Delivered</td>
                        <td>Update</td>
                        <td>Delete</td>
                    </tr>
                </tbody>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
{% endblock %}