{% extends 'base.html' %}


{% block content %}



<div class="container">
    {% comment %} Alerts {% endcomment %}
    {% include 'partials/_alerts.html' %}
    <div class="row">
        <div class="col s12 m12">
            <h4>Customers</h4>
            <div class="divider"></div>
            <a href="{% url 'add_customer' %}" class="right btn btn-sm waves-effect">
                <i class="material-icons left">add</i>
                Add Customer
            </a>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Orders</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!--table data-->
                    {% for customer in customers %}
                    <tr>
                        <td>
                            <a href="{% url 'customer' customer.id%}">
                                {{customer.name}}
                            </a>
                        </td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.phone}}</td>
                        <td>{{customer.number_of_orders}}</td>

                        <td>
                            <a href="{% url 'update_customer' customer.id %}">
                                <i class="material-icons orange-text">edit</i>
                            </a>
                            <form action="{% url 'delete_customer' customer.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    <i class="material-icons red-text">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>No Customers found. Please add.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}