{% extends 'base.html' %}


{% block content %}



<div class="container">

    <!--Stats-->
    <div class="row">
        <div class="col s6 m3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title blue-text lighten-2">Total Orders</span>
                    <div class="divider"></div>
                    <h3>{{total_orders}}</h3>
                </div>
            </div>
        </div>
        <div class="col s6 m3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title green-text darken-2">Orders Delivered</span>
                    <div class="divider"></div>
                    <h3>{{orders_delivered}}</h3>
                </div>
            </div>
        </div>
        <div class="col s6 m3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text darken-1">Orders Pending</span>
                    <div class="divider"></div>
                    <h3>{{orders_pending}}</h3>
                </div>
            </div>
        </div>
        <div class="col s6 m3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title orange-text">Orders Canceled</span>
                    <div class="divider"></div>
                    <h3>{{orders_cancelled}}</h3>
                </div>
            </div>
        </div>
    </div>


    <!--Details Tables-->
    <div class="row">
        <div class="col s12 m6">
            <div class="row valign-wrapper">
                <div class="col s6 m6">
                    <h4>Customers</h4>
                </div>
                <div class="col s6 m6">
                    <a href="{% url 'add_customer' %}" class="btn right">
                        <i class="material-icons left">add</i>
                        Add Customer
                    </a>
                </div>
            </div>

            <div class="divider"></div>

            <table class="striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Orders</th>
                    </tr>
                </thead>
                <tbody>
                    <!--table data-->
                    {% for customer in customers %}
                    <tr>
                        <td>
                            <a href="{% url 'customer' customer.id%}">
                                {{customer.name}}
                            </a>
                        </td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.phone}}</td>
                        <td>{{customer.number_of_orders}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>No Customers found. Please add.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s12 m6">
            <h4>Last 5 Orders</h4>
            <div class="divider"></div>
            <!--
            <a href="{% url 'add_order' %}" class="btn right block">
                <i class="material-icons left">add</i>
                Add Order
            </a>
            -->
            <table class="striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <!--table data-->
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.product.name}}</td>
                        <td>{{ order.date_created}}</td>
                        <td>{{ order.status}}</td>
                        <td>
                            <a href="{% url 'update_order' order.id %}">
                                <i class="material-icons orange-text">edit</i>
                            </a>
                        </td>
                        <td>
                            <form action="{% url 'delete_order' order.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    <i class="material-icons red-text">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            No orders found.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


{% endblock %}