{% extends 'base.html' %}

{% block content %}


<div class="container valign-wrapper" style="height: 82vh">

    <div class="row">
        <div class="col s8 offset-s2">
            {% comment %} Alerts {% endcomment %}
            {% include 'partials/_alerts.html' %}
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Password Reset</div>
                    <div class="container">

                        <div class="row">
                            <p>
                                Forgotten your password? Enter your email address below, and we’ll email instructions
                                for
                                setting a new one.
                            </p>
                        </div>

                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                {% comment %} {% for field in form.fields %}

                                {% endfor %} {% endcomment %}
                                {{ form }}

                                <div class="row">

                                </div>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <button type="submit" class="btn waves-effect waves-light indigo col s12 m12">
                                        Send Email
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>






{% endblock %}