{% extends 'base.html' %}


{% block content %}
<div class="container">

    <div class="col s12 m12">
        <h4>Products</h4>
        <div class="divider"></div>
        <a href="{% url 'add_product' %}" class="right btn btn-sm waves-effect">
            <i class="material-icons left">add</i>
            Add Product
        </a>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <!--table data-->
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td>
                        <a href="{% url 'update_product' product.id %}">
                            <i class="material-icons orange-text">edit</i>
                        </a>
                    </td>
                    <td>
                        <form action="{% url 'delete_product' product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="material-icons red-text">delete</i>
                            </button>
                        </form>
                    </td>
                </tr>

                {% empty %}

                <tr></tr>
                <tr>
                    No products available.Please click
                    <a href="{% url 'add_product' %}" class="btn btn-sm waves-effect">
                        <i class="material-icons left">add</i>
                        Add Product
                    </a>
                    to add a new product.
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>


</div>



{% endblock %}